.container-entryLanding {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: row; /* Dirección horizontal */
  align-items: center; /* Centramos verticalmente */
  justify-content: flex-start; /* Ajustar los elementos al inicio */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0)),
    url("/images/pexels-photo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.entryLanding-text-and-button {
  width: 50%;
  text-align: left;
  margin-top: 5em;
  margin-left: 7em;
}

.welcome-text {
  font-size: 75px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
}

.text-paragraph {
  font-size: 30px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.home-button {
  display: inline-block;
  padding: 15px 55px;
  border-radius: 3px;
  background-color: #00b44b;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  margin: 0;
}

.home-button:hover {
  background-color: #54e360;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.home-button span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.home-button:hover span {
  color: #fff;
}

.entryLanding-image {
  max-width: 50%;
  height: auto;

  /*margin-right: 9%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
   */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .container-landing-page {
    align-items: center;
  }

  .entryLanding-text-and-button {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding: 1em;
  }

  .welcome-text {
    font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .text-paragraph {
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 1em;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .home-button span {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
  }

  .home-button {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin: 0;
  }

  .home-button span {
    font-size: 14px;
  }
}
