.container-featured {
  overflow: hidden; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}

.featured-subContainer {
  text-align: left;
  width: 50%;
}

.featured-title {
  font-size: 50px;
  color: #FFF;
  padding-left: 70px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
}

.featured-paragraph {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 1.5em;
  font-weight: 400;
  padding-left: 70px;
  padding-right: 70px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}

.featured-cards {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  /* background: #000; */
}

.random-image {
  max-width: 32%;
  height: auto;
  margin-right: 9%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  transform: scaleX(-1);
}
