html,
body {
  margin: 0;
  padding: 0;
  font-family: "Telegraf", sans-serif;
}

.container-base-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.my-content {
  flex: 1;
}
