/* Estilos para el botón de "ir arriba" */
.button-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00b44b;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.button-scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.button-scroll-to-top:hover {
  background-color: #54e360;
}
